html{scroll-behavior: smooth ; overflow-x: hidden;}
body{display: flex ; margin: 0% ; flex-direction: column ; background-color: #121212 ;}
header{ background-size: cover ; background-image: url(images/seeds.jpg) ; height: 100vh ; width: 100vw; justify-content: center; display: flex; align-items: center ; position: fixed ; background-repeat: no-repeat; transform: translateZ(8px) scale(parallax-scale-factor(15)) }
h1,h2{ color: white ; font-family: system-ui , arial; text-decoration: none ;}
h1{ font-size: 45px ; margin-left : 10vw ; margin-top: 20vh ; opacity: 99% ; color : blue ; color : rgb(102, 102, 102) ; }
h4{ margin-left : 10vw ; margin-top: -50px ; opacity: 80% ; color: white ; font-family : system-ui , arial ; }
h3{ font-size: 25px ; color: gray ; text-align : center ; font-family: system-ui , arial}
a{ text-decoration : none ; height: 40px}
a:hover{opacity:70%;}
section{ width:100%;height:95vh;background-color:transparent;display:flex;}
body2{ min-height: 30vh ; align-items: center ; flex-wrap: wrap; color : black ; z-index: 2 ; background-size: cover ; background-image: url(images/dirt.png) ; width: 100%; display: flex ; justify-content: center;}
body3{ background-repeat: no-repeat ; min-height: 30vh ; align-items: center ;justify-content: center ; display: flex ;background-attachment: fixed ; flex-wrap: wrap; color:  black ; z-index: 2 ; background-size: cover ; background-image: url(images/space.jpg); }
body4{ align-items: center ;justify-content: center ; display: flex ;background-attachment: fixed ; flex-wrap: wrap; color:  black ; z-index: 2 ; background-size: auto 100% ; background-image: url(images/blueprint.jpg); }
body5{ min-height: 1000px ; align-items: center ;justify-content: center ; display: flex ; flex-wrap: wrap; color:  black ; z-index: 2 ; background-size: cover ; background: #EEEEEE; }
body6{ min-height: 1000px ; align-items: center ;justify-content: center ; display: flex ; flex-wrap: wrap; color:  black ; z-index: 2 ; background-size: cover ; background-image: url(images/green.jpg); }
article{ margin: 20% ; width: 500px ; border-radius: 1vw ; box-shadow : 0vw 0.2vw 0.2vw #251a10 ; background-color: rgba(25, 25, 25, 0.9); z-index : 10 ; margin: 4vw ; margin-top : 1vw ; margin-bottom: 1vw;}
div{max-height: 100px ; background-color: #121212 ; display: flex; justify-content: center ; width: auto ; border-radius: 1vw ; z-index: 5 ; box-shadow : 0 0.2vw 0.2vw black ; align-items: center;}
#qsj{border-radius: 0px ; width:100% ; background-color: rgba(118,173,48,255); box-shadow: 0 0 0;}
.showcase{width:1000px;display:flex;justify-content:center;flex-direction:column}
.showcase>img{margin:30px;}
#contexte{float:top ; background-color: rgba(7,32,62,1);box-shadow:0px 10px 10px rgb(7,22,52)}
#rf{background-color: rgb(27,18,9);box-shadow:0px 10px 10px rgb(17,10,9)}
body4>article>p>img{border:solid 1px black;border-radius:20px;margin-left:calc(50% - 250px)}
body4>article>p>a{text-align:center;}
#conception{background-color: rgba(30,100,152,255);box-shadow:0px 10px 10px rgb(10,80,122)}
#map{background-color:white;box-shadow:0 0.2vw 0.2vw gray}
#map > h2{color:black}
.w100{border-radius: 0px ; width: 100% ; padding : 0;}
.grassy{background-color: transparent ; background-image: url(images/grass.png) ; min-height: 200px ; background-size : 800px}
.as{position: absolute ; top:0px ; left:0px ; width : 8vw ; margin: 2%; opacity: 30%}
body3>article{background-color: gray ; opacity: 80%;box-shadow: 0vw 0.2vw 0.2vw rgba(6,22,52,1)}
body3>article>p{color: white}
body5>article{background-color:white;box-shadow:0 0.2vw 0.2vw gray}
body5>article>p{color:black;}
body5>article>p>img{width:95%;}
.paper{ width: 1000px ; height: 1300px ; box-shadow: 0px 0px 0px ; background-color: transparent ; background-image: url(images/paper.png) ; background-size: 1000px 1300px ; background-repeat : no-repeat ; margin-right:0px;}
.paper > p {color: black ; transform : rotate(-11.65deg); margin-left: 120px ; margin-top : 180px ; width: 760px}
footer{ padding-top: 20px ; padding-left: 5% ; padding-right: 5% ; background-color: rgb(27,18,9) ; z-index: 15 ; opacity: 100% ; min-height: 300px ; padding-bottom : 20px}
p{ color: white ; margin: 2vw ; font-size: 16px ; font-family: Arial; }
footer > p{font-weight: bold; color: gray ; margin: 0 ; margin-top: 40px ; margin-bottom: 40px }
footer > hr{transform: rotate(0deg) ; border-color: gray ; width: 85% ; margin-top: 20px ; margin-bottom: 20px; opacity: 40% }
footer > p > a{color: gray;}
.subfooter{ max-height: none ; flex-wrap: wrap ; display: flex ; padding: 0px ; width: 100% ; background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(27,18,9,1) 100%) ; min-height: 300px ; border-radius:0}
.astronaut{width:100%;}
.diagramme{width:100%}
.UHA{ filter: grayscale(100%) ; width:300px ; opacity: 40%; margin-top: 20px; margin-left: 30px}
.asf{ filter: grayscale(100%) ; width:200px ; opacity: 40%; margin-top: 20px; margin-left: 30px}
img:hover{filter: grayscale(0%)}
.avatar {width: 500px ; height: 500px ; overflow: hidden; transform: translatey(0px);animation: float 4s ease-in-out infinite;}
.h2-subfooter > p{color: gray ; opacity: 70% ; font-size: 10px ; text-align: center;}
.subfooter > hr{transform: rotate(0deg) ; border-color: gray ; width: 100% ; margin-top: 20px ; margin-bottom: 20px; opacity: 10% ; border-style: dotted }
.subfooter > .h2-subfooter > h2{text-align: center ; text-shadow: 1px 1px 2px white}
.subfooter > *{margin-left: 200px; margin-right: 200px;}
.link_icon{ width:30px; ; margin: 10px ;}
.follow > a:hover{opacity:30%}
.h2-subfooter{box-shadow: 0px 0px 0px ; background-color: transparent ; flex-direction: column; margin: 0 ; margin-left: 20px; margin-right: 20px; padding: 0;}
.h2-subfooter > *{margin: 0;}
.follow{margin-top: 20px ; max-height: none; flex-wrap: wrap ; padding: 10px ; padding-right: 20px;}
.follow > p{color: gray; font-weight: bold; margin-top: 10px; margin-bottom: 10px;}
footer{border-top: solid; border-color: white;}
.follow > a{width:30px ; height: 30px ; display: flex ; justify-content : center ; align-items: center; margin: 10px;}
.link_icon:hover{zoom:105%; animation: icon 1s ease-in-out;}
body6>article>img{width:90%;margin-left:5%;border-radius:20px;border:black 1px solid}
@keyframes float {0% {transform: translatey(0px);}50% {transform: translatey(-20px);}100% {transform: translatey(0px);}}
@keyframes icon {0% {transform: scale3d(1, 1, 1);}30% {transform: scale3d(1.25, 0.75, 1);}40% { transform: scale3d(0.75, 1.25, 1);}50% { transform: scale3d(1.15, 0.85, 1); }65% { transform: scale3d(0.95, 1.05, 1);}75% { transform: scale3d(1.05, 0.95, 1);}100% { transform: scale3d(1, 1, 1);}}
hr{transform: rotate(-11.65deg) ; border-color: transparent; background-color: black ; width: 780px; margin-left:112.5px}
ul{color:white ; font-family: Arial; margin-right: 5% ;margin-left: 5%}
iframe{margin: 5% ; width:90%; border: transparent; border-radius: 2% ; height: 300px}

@media screen and (min-width: 2500px){
article{width:1000px}
ul{margin-right: 25% ; margin-left: 25%;}}

@media screen and (max-width: 1100px){
.avatar{ width: 300px; height: 300px}}
.showcase{max-width:500px;}

@media screen and (max-width: 900px) {
.paper{ margin: 1vw;box-shadow : 0.2vw 0.2vw 0.2vw gray; background-size: 100% 100% ; flex-wrap: wrap ; max-width:none;width: 70% ; background-color: rgba(255, 255, 240, 0.692) ; background-image: url(images/media_paper.png) ; background-size: auto ; background-repeat : no-repeat ; height: auto;}
.paper > p { flex-wrap: wrap ; color: black ; transform: rotate(0deg) ; margin: 10% ; margin-top : 5% ; width: auto ; }
section{ display: flex ; justify-content: center}
a{text-align:center}
body5>article{margin: 1vw;max-width:300px}
body2{background-size: cover;}
h1{font-size:45px;margin: 0; margin-top: 20vh;}
h4{margin:0;font-size:16px ; margin-top: -15px;}
hr{transform:rotate(0);margin-left: 5% ; width:90%;}
.avatar{position:absolute;}
.as{width: 20vw}
.subfooter> .follow{ min-width:500px;}
footer> img{max-width: 200px;}
body4>article>p>img{width:90%;margin-left:5%}}

@media screen and (max-width: 300px) {
.subfooter > hr{opacity: 0%}
h1{ font-size: 30px ; margin: 0; margin-top: 20vh;}
h4{color: transparent;}
.subfooter> .follow{ min-width: 100px;}
footer> img{max-width: 50px ; opacity: 0%;}}